<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<footer class="Footer" th:fragment="footFragment">
    <div class="wrap">
        <div class="row Footer-main">
            <div class="row-block"><a class="logo logo_footer Footer-logo" href="/"><img class="logo-image" src="/assets/img/logo_footer.png" alt="logo_footer.png"/><span class="logo-text">BOOKSHOP</span></a>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                </p>
                <p>
                    <span th:text="#{topbar.languageSelection}">Выбор языка</span>
                    <select id="locales">
                        <option value=" "></option>
                        <option value="en">English</option>
                        <option value="ru">Русский</option>
                    </select>
                </p>
                <ul th:replace="~{fragments/menu_smallImg_fragment :: menu_smallImg}"></ul>
            </div>
            <div class="row-block">
                <ul th:replace="~{fragments/header/common_header_fragment :: menuMain(menu='menu_vt Footer-menu')}"></ul>
            </div>
            <div class="row-block">
                <ul class="menu menu_vt Footer-menu">
                    <li class="menu-item"><a class="menu-link" href="/signin.html"
                           th:href="@{/signin}" th:text="#{topbar.signin}">Войти</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/documents/index.html"
                                             th:href="@{/documents}" th:text="#{topbar.documents}">Документы</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/about.html"
                           th:href="@{/about}" th:text="#{topbar.about}">О компании</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/faq.html"
                           th:href="@{/faq}" th:text="#{topbar.faq}">Помощь</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/contacts.html"
                           th:href="@{/contacts}" th:text="#{topbar.contacts}">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Footer-copy">
        <div class="wrap">© 2016 Bookshop Pty Ltd. ALL RIGHTS RESERVED
        </div>
    </div>
</footer>
</body>
</html>