<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="Header" th:fragment="headFragment">
    <div th:replace="fragments/header/header_menu_fragment :: headerMenuFragment"></div>
    <div class="Header-menu">
        <div class="wrap">
            <nav class="menuModal" id="navigate">
                <ul th:fragment="menuMain" class="menu" th:classappend="${menu}">
                    <li class="menu-item" th:classappend="${main}">
                        <a class="menu-link" href="/index.hml"
                           th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                    </li>
                    <li class="menu-item" th:classappend="${genres}">
                        <a class="menu-link" href="/genres/index.html"
                           th:href="@{/books/genres-page}" th:text="#{topbar.genres}">Жанры</a>
                    </li>
                    <li class="menu-item" th:classappend="${recent}">
                        <a class="menu-link" href="/books/recent.html"
                           th:href="@{/books/recent-page}" th:text="#{topbar.news}">Новинки</a>
                    </li>
                    <li class="menu-item" th:classappend="${popular}">
                        <a class="menu-link" href="/books/popular.html"
                           th:href="@{/books/popular-page}" th:text="#{topbar.popular}">Популярное</a>
                    </li>
                    <li class="menu-item" th:classappend="${authors}">
                        <a class="menu-link" href="/authors/index.html"
                           th:href="@{/books/authors-page}" th:text="#{topbar.authors}">Авторы</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</body>
</html>